<div class="top-image">
  <div class="top-title-text">
    全ては結果だ。
  </div>
  <div class="top-text">
    己の現実を受け入れ、更なる進化を
  </div>
  <% if user_signed_in?%>
  <div class="stats-btn-box">
    <%= link_to "成績入力へ", new_stat_path, class:"stats-btn" %>
  </div>
  <% end %>
</div>